.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.add-button {
    background-color: rgb(3 153 3);
}

.add-button:hover {
    background-color: rgb(1, 119, 1);
}

.back-button {
    background-color: rgb(3, 199, 3);
}

.back-button:hover {
    background-color: rgb(1, 162, 1);
}


.custom-table {
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 4px;
}

.react-datepicker-wrapper {
    width: fit-content;
    /* Điều chỉnh kích thước cho phù hợp với nội dung */
}

.react-datepicker {
    font-size: 0.8rem;
    /* Điều chỉnh kích thước font chữ */
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker__day-name,
.react-datepicker__day {
    font-size: 0.8rem;
    /* Điều chỉnh kích thước font chữ cho tháng, ngày, và tên thứ */
}

.react-datepicker__header {
    padding: 0.2rem;
    /* Điều chỉnh khoảng cách giữa các phần header */
}

/* CSS để làm màu nền của hàng đầu tiên trong bảng */
thead tr:first-child th {
    background-color: #ccc;
    /* Màu xám */
    padding: 10px 5px;
    text-align: center;
}

/* CSS để căn giữa nội dung của các cột có lớp center-column */
.center-column {
    text-align: center;
}

/* CSS để thêm khoảng cách giữa các nút "Sửa" và "Xóa" */
.edit-button {
    margin-right: 10px;
    /* Thêm khoảng cách bên phải */
}


.delete-button {
    margin-left: 10px;
    /* Thêm khoảng cách bên trái */
}

.action-button {
    width: 170px;
    /* Thiết lập chiều rộng mong muốn, ví dụ 100px */
}

/* Add this CSS to your module.css file */
.modal-open {
    overflow: hidden;
}

.blur-on-modal-open {
    filter: blur(1px);
    /* Adjust the blur effect as needed */
    transition: filter 0.3s ease;
    /* Add a transition effect */
}

/* Adjust the z-index of the modal */
.ReactModal__Overlay {
    z-index: 9999;
    /* Adjust this value if necessary */
}

/*table add new*/
.text-danger {
    color: red;
    margin-left: 5px;
}

.time {
    font-size: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.form-control {
    font-size: 10px;
    padding: 8px;
    border-width: 1px;
    border-color: black;
    background-color: rgb(255, 255, 255);
}

.form-label {
    font-size: 10px;
    font-weight: bold;
}

.row {
    margin-top: 0;
}

.form-select {
    padding: 8px;
}
.multiselect-fixed-width {
    width: 100%;
}

.multiselect-fixed-width .ms-dropdown {
    width: 100%;
}

.multiselect-fixed-width .ms-list {
    width: 100%;
}
